.cartcontain {
  width: 440px;
  background: rgb(27, 25, 33);
  height: 100vh;
  /* position: absolute; */
  display: flex;
  /* align-content: center; */
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  right: -440px;
  bottom: 0;
  transition: right 1s;
}

.cartcontain.open {
  right: 0;
}

.incartcart {
  color: white;
  background: transparent;
  font-size: xx-large;
  outline: none;
  border: none;
  position: absolute;
  width: 50px;
  height: 50px;
  left: -50px;
  top: 0;
  background: black;

  /* justify-content: center; */
  /* align-content: center; */
  padding-left: 10px;
  /* position: absolute; */
}

.innercart {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innercart > img {
  width: 60px;
  height: 80px;
  margin: 10px;
}

.total {
  position: absolute;
  top: 500px;
}

.product.cart {
  height: 80px;
}

#plus {
  background: white;
  height: 50px;
  width: 60px;
  margin-top: 20px;
}

#minus {
  background: white;
  height: 50px;
  width: 60px;
  font-size: x-small;
  margin-top: 20px;
}
