.cartcontain {
  width: 440px;
  background: rgb(27, 25, 33);
  height: 100vh;
  /* position: absolute; */
  display: flex;
  /* align-content: center; */
  justify-content: center;
  color: white;
}

.incartcart {
  color: white;
  background: transparent;
  font-size: xx-large;
  outline: none;
  border: none;

  /* justify-content: center; */
  /* align-content: center; */
  padding-left: 10px;
  /* position: absolute; */
}

.incartcart p {
}
